// app.scss
// description: theme styles
// ----------------------------------------------------------------

// import packages
@import "../../bower_components/foundation-sites/scss/foundation";
@import "../../bower_components/motion-ui/src/motion-ui";
@import	"settings";
// @import	"login";

// include foundation
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-menu-icon;
// @include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
// @include foundation-title-bar;
@include foundation-tooltip;
// @include foundation-top-bar;
// flex grid
@include foundation-flex-classes;
@include foundation-flex-grid;
// motion-ui
@include motion-ui-transitions;
@include motion-ui-animations;

// let's begin, shall we?
// --------------------------------

// selection
::-moz-selection, ::-moz-selection {
	color: white;
	background: $primary-color;
}
::selection, ::-moz-selection {
	color: white;
	background: $primary-color;
}

// transitions
@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

// transition elements
a, .button, button, img {
    @include transition(0.18s);
}

// typography
// ----------------------------------------------------------------

// header function for responsive font-sizes
@function header-size($breakpoint, $size) {
    @return rem-calc(map-get(map-get($header-sizes, $breakpoint), $size) * 1px);
}

// h1
%h1, h1, .h1 {
    font-size: header-size(large, h1);
    margin-bottom: 0;
    @include breakpoint(640px down) { font-size: header-size(medium, h1); }
    @include breakpoint(480px down) { font-size: header-size(small, h1); }
}

// h2
%h2, h2, .h2 {
    font-size: header-size(large, h2);
    margin-bottom: 0;
    @include breakpoint(640px down) { font-size: header-size(medium, h2); }
    @include breakpoint(480px down) { font-size: header-size(small, h2); }
}

// h3
%h3, h3, .h3 {
    font-size: header-size(large, h3);
    margin-bottom: 0;
    @include breakpoint(640px down) { font-size: header-size(medium, h3); }
    @include breakpoint(480px down) { font-size: header-size(small, h3); }
}

// h4
%h4, h4, .h4 {
    font-size: header-size(large, h4);
    margin-bottom: 0;
    @include breakpoint(640px down) { font-size: header-size(medium, h4); }
    @include breakpoint(480px down) { font-size: header-size(small, h4); }
}

// h5
%h5, h5, .h5 {
    font-size: header-size(large, h5);
    margin-bottom: 0;
    @include breakpoint(640px down) { font-size: header-size(medium, h5); }
    @include breakpoint(480px down) { font-size: header-size(small, h5); }
}

// h6
%h6, h6, .h6 {
    font-size: header-size(large, h6);
    margin-bottom: 0;
    @include breakpoint(640px down) { font-size: header-size(medium, h6); }
    @include breakpoint(480px down) { font-size: header-size(small, h6); }
}

// paragraph
p {
    margin: 0 auto 0;
}

// hr
hr {
    margin: 10px auto;
}

// buttons
%button, a.button, .button, button {
    @include button($background: $button-background, $background-hover: $secondary-color, $color: $button-color);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    border: none;
}

// unordered list
ul {
    margin: 0 auto;
    li {
        a {

        }
    }
}

// ordered list
ol {
    margin: 0 auto;
    li {
        a {

        }
    }
}

// global
// ----------------------------------------------------------------

.global {

    // headings
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        margin-bottom: $header-margin-bottom;
    }

    // paragraphs
    p {
        margin-bottom: $paragraph-margin-bottom;
        a {
            font-weight: bold;
            &:hover {
                color: $secondary-color;
            }
        }
    }

    // buttons
    %button, a.button, .button, button {
        margin-bottom: $button-margin;
    }

    // unordered list
    ul {
        margin: 0 0 25px 40px;
        li {
            list-style: none;
            a {

            }
            &:before {
				content: url('../images/li.png');
				top: -1px;
			    margin-right: 10px;
			    position: relative;
			}
        }
    }

    // ordered list
    ol {
        margin: 0 0 25px 40px;
        li {
            a {

            }
        }
    }

}

// theme extends
// ----------------------------------------------------------------

// archive.php, index.php, search.php -> /assets/parts/entry.php
%entry {
    section {
        width: 100%;
        display: inline-block;
        margin: 0 auto 30px;
        img {
            margin: 0 auto 15px;
        }
        h2 {
            font-weight: bold;
        }
    }
}

// theme sections
// ----------------------------------------------------------------

// variables
$article: 8;
$aside: 12 - $article;

$main-padding: 30px 0 60px;

// masthead
div[role="masthead"] {
    width: 100%;
    padding: 8px 0;
    position: relative;
    background: $septenary-color;
    section {
        @include grid-row();
        nav {
            @include grid-column();
            padding: 0 !important;
            @include breakpoint(($global-width + rem-calc(15)) down) {
                padding: 0 15px !important;
            }
            ul {
                list-style: none;
                float: right;
                margin: 0;
                li {
                    padding: 6px 0;
                    margin: 0 0 0 10px;
                    display: inline-block;
                    a {
                        font-size: 16px;
                    }
                }
                &.social {
                    margin: 0 15px;
                }
            }
            a.button {
                float: right;
                margin: 0 0 0 15px;
            }
        }
    }
}


// header
header {

    $nav-height: 140px;
    $nav-parent-size: 17px;

	max-height: $nav-height;
	background: white;
	section {
		@include grid-row();
        padding: 22px 0;
		div {
			@include grid-column(4);
            @include breakpoint(768px down) {
                @include grid-column();
                text-align: center;
            }
			a {
				img {
					top: 4px;
					margin-top: -7px;
				    position: relative;
                    // display: none;
				}
			}
		}
		nav {
			@include grid-column(8);
            @include breakpoint(768px down) {
                display: none;
            }
			ul.menu {
                float: right;
				li {
					padding: 10px;
					a {
						color: #959495;
						font-size: $nav-parent-size;
						font-weight: bold;
						text-transform: uppercase;
						padding: 10px 15px;
					}
					a:hover, &.current_page_item a {
						color: $primary-color;
					}
					&.button {
						// display: none;
						padding: 0;
						background: transparent;
						a {
							color: white;
							font-size: $nav-parent-size;
							font-weight: bold;
							padding: 15px 25px;
							margin: 0 0 0 15px;
							background: $primary-color;
						}
						&:hover a {
							background: $secondary-color;
						}
					}
					// --------------------------------
					&.is-dropdown-submenu-parent {
						// dropdown
						ul.submenu {
							margin: 0 0 0 10px;
							border: none;
							box-shadow: 0 2px 4px transparentize(black, 0.93);
							li {
								padding: 0;
								border-bottom: 1px solid transparentize(black, 0.93);
								background: white;
								&:first-child {
									border-top: 3px solid $primary-color;
								}
								a {
									color: #959495;
									font-size: $nav-parent-size / 1.1;
									text-transform: none;
									padding: 10px 15px;
									margin: 0 0 0 0;
								}
								&:hover a, &.current_page_item a {
									color: $primary-color;
									margin: 0 0 0 5px;
								}
								&:last-child {
									border-bottom: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

// 404.php
div[role="404"] {
    padding: 120px 0;
	background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/px_by_Gre3g.png') repeat;
    main {
        @include grid-row();
        section {
            @include grid-column();
			text-align: center;
			img {
				margin-bottom: 25px;
			}
			p {
				color: white;
			    font-size: 23px;
			    line-height: 1.2;
			    max-width: 680px;
			    margin: 0 auto 25px;
				span {
					color: $primary-color;
				}
			}
			a.button {
				@include button($background: $primary-color, $background-hover: $secondary-color, $color: white);
				font-size: 20px;
				font-weight: bold;
			}
        }
    }
}

// archive.php, index.php, & search.php
div[role="archive"], div[role="index"], div[role="search"] {
    main {
        @include grid-row();
        padding: $main-padding;
        article {
            @include grid-column($article);
            @include breakpoint(768px down) {
                @include grid-column();
            }
            @extend %entry;
        }
        aside {
            @include grid-column($aside);
            @include breakpoint(768px down) {
                display: none;
            }

        }
    }
}

// full-width
div[role="full"] {
    main {
        @include grid-row();
        padding: $main-padding;
        article {
            @include grid-column();
        }
    }
}

// page.php & single.php
div[role="page"], div[role="single"] {
    main {
        @include grid-row();
        padding: $main-padding;
        article {
            @include grid-column($article);
            @include breakpoint(768px down) {
                @include grid-column();
            }
        }
        aside {
            @include grid-column($aside);
            @include breakpoint(768px down) {
                display: none;
            }

        }
    }
}

// theme front-page
// ----------------------------------------------------------------

// front-page.php
div[role="front"] {

}

// theme sidebar
// ----------------------------------------------------------------
div.sidebar {

}

// theme elements
// ----------------------------------------------------------------

// featured
div[role="featured"] {
    background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/px_by_Gre3g.png') repeat;
    section {
        @include grid-row();
        h1 {
            @include grid-column();
            @extend %h1;
            color: white;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            padding: 80px 15px;
        }
    }
}

// breadcrumbs
div[role="breadcrumbs"] {
    padding: 8px 15px;
    background: $septenary-color;
    section {
        @include grid-row();
        p {
            @include grid-column();
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 2 auto 0;
            span, a {
                color: $primary-color;
                font-weight: normal;
            }
        }
    }
}

//byline
p[role="byline"] {
	color: #b5b5b5;
	font-style: italic;
    a {
        color: $primary-color;
        font-weight: bold;
    }
}

// pagination
div[role="pagination"] {
	ul.menu {
	    margin: 0 auto;
		li {
			&:before {
				display: none;
			}
			a {
				color: white;
				padding: 8px 13px;
                margin: 0 5px 0 0;
				border-radius: 3px;
				background: $secondary-color;
			}
			&:hover a {
				color: white;
			}
			&.active a {
				color: white;
				background: $primary-color;
			}
		}
	}
}

// theme footer
// ----------------------------------------------------------------

// edit-this-entry
div[role="edit-this-entry"] {
	a.button {
		@include button($expand: true, $background: $primary-color, $background-hover: $secondary-color, $color: white);
        font-size: 16px;
        letter-spacing: 1px;
        padding: 15px 0;
		margin: 0 auto;
		i.fa {
			color: white;
			left: -10px;
			position: relative;
			@include transition(0.24s);
		}
		&:hover i.fa {
			left: -15px;
		}
	}
}

// links
div[role="links"] {
	background: $quaternary-color;
	section {
        @include grid-row();
        ul {
            @include grid-column();
            text-align: center;
            li {
                padding: 15px 0;
                display: inline-block;
                a {
                    color: white;
                    font-size: 18px;
                    padding: 10px 15px;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

// widgets
div[role="widgets"] {
    padding: 30px 0;
    background: $quinary-color;
    section {
        @include grid-row();
        div.widget {
            @include grid-row(4);
            @include breakpoint(640px down) {
                @include grid-column();
                text-align: center;
                margin: 0 auto 15px;
            }
            &.left {

            }
            &.center {

            }
            &.right {

            }
        }
    }
}

// footer
footer {
    padding: 8px 0;
    background: $quaternary-color;
    section {
        @include grid-row();
        p {
            @include grid-column();
            color: white;
            font-size: 14px;
            text-align: center;
            a {
                color: $secondary-color;
                font-weight: bold;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

// fixes
// ----------------------------------------------------------------

::i-block-chrome {}

input:focus { outline: none; }

a, a:hover, a:active, a:focus, *:focus, button::-moz-focus-inner  {
	outline: 0;
	outline-width: 0;
	outline-style: none;
	noFocusLine: expression(this.onFocus=this.blur());
}

::-moz-focus-inner {
	border: 0;
}

object, embed, iframe {
	width: 100%;
}

// ----------------------------------------------------------------
// ----------------------------------------------------------------
